<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PostgreSQL Example</title>
</head>
<body>
  <div class="form-container">
    <form action="/new" method="POST">
      <div>
        <label for="username">Username: </label>
        <input name="username" id="username" type="text">
      </div>
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>